
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border:3px solid black;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
 /* Restaurant name */
  font-family: 'Algerian', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-family: 'Lora', serif; 
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End Header */

}

/* Main Body*/
#head1{
  text-transform: uppercase;
  margin-bottom: 20px;
  color: beige; 
  font-family: 'Tangerine', serif; 
  font-weight: bold;
  text-shadow: 2px 2px 2px #aaa;
}

.head4{
  font-size: 1.2em;
  font-family:"Algerian";
  font-weight: bold;
}

#p2{
  text-align: center;
   font-size: 2.8em; 
   font-family: 'Tangerine';
}

#p1{
  font-family: "Times New Roman"
}

#tile{
  background-color: #DAF7A6;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}